.main_container h1 { 
  font: inherit;
  margin-left: 50px;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
}

.no_budgets {
  align-items: center;
}

.no_budgets h2 { 
  font: inherit;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 17px;
}

.budgetlist { 
  list-style-type: none;
}


/*.budget_list { 
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 1.5em;
  margin-left: 1.5rem;
  padding: 15px 50px;
  margin-bottom: 10px;
  background-color: #dbc3ec;
  border-radius: 10px;
  position: relative;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}*/

.no-budgets-text { 
  text-align: center;
  font: inherit;
}

.list .chart { 
  position: absolute;

}

.list .delete-icon { 
  position: absolute;
  bottom: 0;
  margin-right: 1rem;
  right: 0;
  
}
