
.new-budget__controls {
  margin-left: 30%;
  margin-right: 25%;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-budget__control label {
  font: inherit;
  margin-bottom: 0.5rem;
  display: block;
}

.new-budget__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-budget__actions { 
  margin-top: 3rem;
  margin-left: 26rem;
}


.new-budget__actions .cancel { 
  
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #934CFA;
  color: #fff;
  cursor: pointer;
  position: absolute;
  display: flex;
  font: inherit;
  margin-left: 22rem;

}

.new-budget__actions .submit {
  
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #934CFA;
  color: #fff;
  cursor: pointer;
  position: absolute;
  display: flex;
  font: inherit;
  margin-left: 30rem;

}

