.navbar {
  width: 100%;
  height: 70px;
  background-color: #3bb19b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.budget_list { 
  margin-top: 2%;
}

.display_top_text h2 { 
  font: inherit;
  margin-left: 20rem;
  margin-top: 5rem;
}

.moolah-title {
  font-size: 1.5rem;
  color: white;
  margin: .5rem;
  color: white;
  margin-left: 20px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}


.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;

}

.add_budget_button { 
  height: 13rem;
}

.add_budget_button .button { 
    margin: 45%;
    margin-top: 5rem;
    width: 12rem;
    font: inherit;
    font-size: 14px;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #3bb19b;
    background-color: white;
    color: #3bb19b;
    border-radius: 12px;
    position: absolute;
    text-decoration: none;
    align-items: center;
}

.add_budget_button div { 
  display: inline-flex;
}

.add_budget_button .icon { 
  font-size: 15px;
  display: inline-flex;

}

.logout_button {
  border: none;
  margin-top: 5px;
  outline: none;
  padding: 12px 0;
  background-color: white;
  font-size: 15px;
  border-radius: 20px;
  width: 100px;
  cursor: pointer;
  margin-right: 20px;
}



@media (max-width: 400px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    width: 100%;
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;

  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}