
.new-budget button{
  margin: 45%;
  margin-top: 5rem;
  width: 12rem;
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #3bb19b;
  background-color: white;
  color: #3bb19b;
  border-radius: 12px;

}