.auth-form-container,
.login-form,
.register-form {
  justify-content: center;
  width: 100%;
}

.auth-form-container h2 { 
  text-align: center;
  font-weight: bold;
  font-family: inherit;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  padding: 0.25rem 0;
}

.error_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
  align-self: center;
}

input {
  align-self: center;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 15px;
  border: none;
  width: 20%;
  background-color: #3bb19b;
  border-radius: 15px;
  cursor: pointer;
  align-self: center;
  color: white;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.password_complexity_msg { 
  border-color: black;
  margin-top: 15px;
  align-items: center;
  align-self: center;
  border-radius: 5px;
}


.password_complexity_msg h1 { 
  text-align: center;
  font-size: 12px;
  font-family: inherit;
  margin-top: 10px;
  font-weight: normal;
  color: red;
  animation: blink-text 1.9s linear infinite;
}

@keyframes password_complexity_msg {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.password_complexity_msg li { 
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.password_complexity_msg li h2 { 
  font-size: 10px; 
  font-family: inherit; 
  text-align: center;
  font-weight: normal;
}



.bullet_pt { 
  font-size: 10px;
  width: 200px;
  text-align: center;
}

.dot { 
  font-size: 2px;
  margin-right: 2px;
}

.note_msg {
  width: 200px;
  font-size: 10px;
  text-align: center;
}