.form { 
  background-color: white;
  margin: auto;
  justify-content: space-between;
}

.form-card { 
  border-radius: 10px;
  padding: 20px;
}

.new-bill__controls { 
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5px;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
}

.new-bill__controls label {
  font: inherit;
  margin-bottom: 0.5rem;
  font-weight: bold;
  display: block;

}

.new-bill__controls input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-bill__control { 
  margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5px;
    margin-bottom: 3rem;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.new-bill__control label { 
  font: inherit;
  margin-bottom: 0.5rem;
  display: block;
  font-weight: bold;
}

.new-bill__control input { 
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 15rem;
  max-width: 100%;
}

.submit_btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #934CFA;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 4rem;
}

.submit_btn:hover {
  background-color: #612FB0;
}

.cancel_btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #f6a624;
  color: #ffffff;
  cursor: pointer;
  margin-left: 11.1rem;
}

.cancel_btn:hover {
  background-color: #e8aa19;
}

.with-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.new-bill__controls h1 { 
  font: inherit;
  font-weight: bold;
  color: #934CFA;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.delete_btn {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: rgb(203, 203, 203);
  color: #ffffff;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;

}


.add_btn {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: rgb(203, 203, 203);
  color: #ffffff;
  cursor: pointer;

}