.split2 {
    display: flex;
    height: 100vh;
  }
  
  .doughnut {
    width: 50%;
    justify-content: center;
    margin-left: 20px;
    position: relative;
  }
  
  .statistics {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    color: #192c7d
  }
  
  .history {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .historytext {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
  }
  
  .add_button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: #934CFA;
    color: #fff;
    cursor: pointer;
    margin-left: 3rem;
  }
  
  .add_button:hover {
    background-color: #7F37D6;
  }
  
  .add_button:active {
    background-color: #612FB0;
  }
  
  .total-expense-text {
    position: absolute; 
    top: 53%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 50px; 
    font-weight: bold; 
    text-align: center;
    color: #934CFA;
    padding: 10px 20px;
    border-radius: 9999px;
    background-color: rgba(193, 91, 240, 0.2);
}

  .total-income-text {
    position: absolute; 
    top: 65%; 
    left: 28%;
    font-size: 50px; 
    font-weight: bold; 
    text-align: center;
    color: rgb(255, 205, 86);
    padding: 10px 20px;
  border-radius: 9999px;
  background-color: rgba(237, 222, 56, 0.2);
  }