.split {
    display: flex;
    height: 100vh; 
}

.form {
    width: 35%; 
    background-color: #FAE8A0;
    justify-content: center;
  }

  .new_transaction {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
  }

  .doughnutchart {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
  }

 
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.view-stats-btn {
  padding: 0.5rem;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #934CFA;
  color: #fff;
  cursor: pointer;
  width: 320px;
}

.view-stats-btn:hover {
  background-color: rgba(193, 91, 240, 0.2);
  color: #934CFA;
}

.add-button {
  padding: 0.5rem 3rem;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: rgba(193, 91, 240, 0.2);
  color: #934CFA;
  cursor: pointer;
  width: 320px;
  text-align: center;
}

.add-button:hover {
  background-color: #934CFA;
  color: white;
}