.transaction-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.transaction-item {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: flex-start;
  padding: 5px 20px;
  margin-bottom: 10px;
  background-color: #dbc3ec;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.trans_title {
  text-align: left;
  color: #fff;
  font-weight: bold;
  margin-bottom: 5px;
  flex-grow: 1;
}

.trans_info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.trans_date,
.trans_category,
.trans_amt {
  color: #fff;
  margin-bottom: 5px;
}


.delete-icon {
  position: absolute;
  left: 20px;
  bottom: 10%;
  cursor: pointer;
  transition: color 0.3s;
  color: #fefcfc;
  font-size: 20px;
}

.delete-icon:hover {
  color: #585656;
}

.historytext {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
}
