.close-btn {
  padding: 0.5rem;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #934CFA;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100px;
}

.close-btn:hover {
  background-color: #612FB0;
}