.total-amount-others-owe { 
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 20px 60px;
  border-radius: 35px;
  background-color: #b3fed6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.total-amount-others-owe h1 { 
  font-size: 25px;
}

.total-amount-others-owe h2 { 
  font-size: 30px;
  font-weight: bold;
}